@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --colorSecondary: #ffb128;
    --colorPrimary: #0b3954;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    color: var(--colorPrimary);
}
