@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --colorSecondary: #ffb128;
    --colorPrimary: #0b3954;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    color: var(--colorPrimary)
}

.number {
    @apply absolute -top-4 -right-4 bg-colorSecondary text-white w-7 h-7 rounded-full flex items-center justify-center text-[11px];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
}