.ali{
    color: rgb(42, 3, 159);
    background-color: rgb(232, 229, 229)
     ;
}
.sofa-info{
    background-color: aqua;
    border-bottom: dotted red;
    text-decoration: line-through;
    
}


    
    @media screen and (min-width:767px) {
        .handy{display: grid;
        color: red;}
         }
